$medium-smaller: 768px;

.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  max-width: 100%;
  margin: 30px auto;
  flex-wrap: wrap;

  div {
    margin-bottom: 40px;
  }
}