body {
  margin: 0;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; min-height: 100vh;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

a {
  text-decoration: none;
}